.form-control
{
  width: 100%;
}
.row
{
  margin-top: 10px;
}
.btnData
{
  margin-left: 32px;
  
}
.text-right{
  margin-left: 30px;
  color: #FA8072;
  cursor: pointer;
}
.IconThem{
  margin-right: 10px;
}
.IconHuy{
  margin-right: 10px;
}
.btnThemCongViec {
  margin-right: 10px;
}
.btnGenerate
{
  margin-right: 10px;
}
.text-primary {
  background: linear-gradient(to right ,#fe1717,#ff3390,#be33ff,#3740f4,#4ad3d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: exampleanimation;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-size: 50px;
}
@keyframes exampleanimation{
  from{
    transform: scale(0,0)}
    to
    {
      transform: scale(1,1);
    }
  }
  ul.dropdown-menu.show li :hover{
    color: red;
    cursor: pointer;
  }
  .sort_selected::after{
      content: '\f00c';
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      margin:  0 0 0 10px;
      display: inline-block;

  }
  
